<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dupreinca.dupree">
    <!-- "com.dupree2.Dupre" -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FLAG_GRANT_WRITE_URI_PERMISSION" />
    <uses-permission android:name="android.permission.FLAG_GRANT_READ_URI_PERMISSION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.media.action.IMAGE_CAPTURE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".BaseAPP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherf_dupree3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherf_dupree1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <!--INDIGITAL-->

        <!-- Para que cuando el usuario pulse una push, se guarde la métrica -->
        <service android:name="com.indigitall.android.services.StatisticService"/>

        <!-- Sincronización diaria de los datos del dispositivo -->
        <service android:name="com.indigitall.android.services.NightService"/>

        <service
            android:name="com.indigitall.android.services.HMSMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Para iniciar los servicios cuando reinicias el dispositivo -->
        <receiver android:name="com.indigitall.android.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- OPCIONALES -->

        <!-- Para que cuando el usuario pulse un mensaje InApp, se guarde la métrica.
        Solo es necesario si usas la funcionalidad de mensajes InApp -->
        <service android:name="com.indigitall.android.inapp.services.StatisticInAppService" />

        <!-- FIREBASE -->







        <!-- Para obtener la localización del dispositivo.
        Solo es necesario si vas a pedir permiso de localización
        para segmentar las pushes por la ubicación del dispositivo -->
        <receiver android:name="com.indigitall.android.receivers.LocationReceiver">
            <intent-filter>
                <action android:name="LocationReceiver.Action.LOCATION_UPDATE" />
            </intent-filter>
        </receiver>







        <service android:name=".mh_firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".mh_firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!--
        provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dupreeinca.dupree.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider
        -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cloudemotion.lib_image.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_image_paths" />
        </provider>

        <!--<provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.cloudemotion.lib_image.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_image_paths" />
        </provider>-->
        <activity android:name=".mh_bar_scann.ScanBarcodeActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ImageZoomActivity" />
        <activity
            android:name=".mh_utilities.ImageZoomActivity_Scroll"
            android:label="Imagen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CatalogoViewerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mh_bar_scann.BarcodeCaptureActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PDFActivity" />

        <meta-data android:name="indigitall.icon" android:resource="@mipmap/ic_launcher_dupree"/>

        <!-- Recurso para el color del icono -->
        <meta-data android:name="indigitall.color" android:resource="@color/colorPrimary"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="01afc6e213851731dcca8bc277b49b80fbb73dd6" />

        <activity android:name=".mh_fragments_menu.incorporaciones.listado.incripcion.InscripcionActivity" />
        <activity android:name=".mh_fragments_menu.reportes.ReportesActivity" />
        <activity android:name=".mh_fragments_menu.pedidos.historial.detalle_factura.DetalleFacturaActivity" />
    </application>

</manifest>